In [2]:
# importing libs
import numpy as np
import pandas as pd

In [6]:
#loading the data set 
raw_df = pd.read_csv(r"D:\python prac\Retail_Sales_ETL_Project\Data\raw_sales_data.csv")
raw_df.head()

         Date Region Product_Category  Units_Sold  Unit_Price   Cost
0  2024-01-01  North      Electronics         100      299.99  25000
1  2024-01-01  South          Fashion          80       49.99   3200
2  2024-01-01   East       Home Decor          60       89.99   4100
3  2024-01-02  North          Fashion          40       39.99   1200
4  2024-01-02   West      Electronics          90      279.99  24000

In [9]:
#cleaning the columns names 
raw_df.columns = raw_df.columns.str.strip().str.lower().str.replace(" ", "_")
raw_df.columns

Index(['date', 'region', 'product_category', 'units_sold', 'unit_price',
       'cost'],
      dtype='object')

In [10]:
#converting date 
raw_df['date'] = pd.to_datetime(raw_df['date'])

In [11]:
# Calculate Revenue, Profit, Margin
raw_df['revenue'] = raw_df['units_sold'] * raw_df['unit_price']
raw_df['profit']  = raw_df['revenue'] - raw_df['cost']
raw_df['margin']  = (raw_df['profit'] / raw_df['revenue']).round(2)

In [ ]:
#saving the clean data 
raw_df.to_csv("D:\python prac\Retail_Sales_ETL_Project\Data\cleaned_sales_data.csv")

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\HP\AppData\Local\Temp\ipykernel_11212\864555691.py:1: SyntaxWarning: invalid escape sequence '\p'
  raw_df.to_csv("D:\python prac\Retail_Sales_ETL_Project\Data\cleaned_sales_data.csv")

In [14]:
# creating the summary 
summary = raw_df.groupby(['region', 'product_category']).agg({
    'revenue': 'sum',
    'profit': 'sum',
    'units_sold': 'sum',
    'margin': 'mean'
}).reset_index()

In [16]:
summary.to_csv(r"D:\python prac\Retail_Sales_ETL_Project\output\summary_report.csv")

In [17]:
print("✅ ETL complete. Clean data and summary saved.")

✅ ETL complete. Clean data and summary saved.